[test_config]
overwrite_custom_url = false
test_timeout_minutes = 60
expected_event_count = 10
custom_url = "https://rpc-holesky.flashbots.net/fast"

[contracts]

[blockchain_a]
type = "anvil"
docker_cmd_params = ["-b", "1"]
chain_id = "17000"

[blockchain_a.out]
use_cache = false
family = "evm"

[[blockchain_a.out.nodes]]
docker_internal_http_url = "https://nd-033-002-348.p2pify.com/f46b081bafa80b7c0be87edfdd6c0815"
docker_internal_ws_url = "wss://ws-nd-033-002-348.p2pify.com/f46b081bafa80b7c0be87edfdd6c0815"
http_url = "https://nd-033-002-348.p2pify.com/f46b081bafa80b7c0be87edfdd6c0815"
ws_url = "wss://ws-nd-033-002-348.p2pify.com/f46b081bafa80b7c0be87edfdd6c0815"

[nodeset]
nodes = 5
override_mode = "all"

[nodeset.db]
image = "postgres:12.0"

[[nodeset.node_specs]]

[nodeset.node_specs.node]
image = "localhost:5000/chainlink:develop"
user_config_overrides = """
    [Feature]
    LogPoller = true
    [OCR2]
    Enabled = true
    DatabaseTimeout = '1s'
    [P2P.V2]
    Enabled = true
    ListenAddresses = ['0.0.0.0:6690']

    [[EVM]]
    ChainID = '17000'
    ChainType = 'dualBroadcast'
    AutoCreateKey = true
    FinalityDepth = 1
    MinContractPayment = 0

    [EVM.TxmV2]
    Enabled = true
    BlockTime = '11s'
    CustomURL = '%s'

    [EVM.Transactions]
    ForwardersEnabled = true

    [EVM.Transactions.AutoPurge]
    Enabled = true
    Threshold = 5
    MinAttempts = 10000
    DetectionApiUrl = 'https://protect-holesky.flashbots.net/tx/'

    [EVM.GasEstimator]
    BumpThreshold = 6
"""
