
[[blockchains]]
  type = "anvil"
  chain_id = "1337"
  docker_cmd_params = ["-b", "5"]

# uncomment to start a second blockchain
[[blockchains]]
  type = "anvil"
  chain_id = "2337"
  port = "8546"
  docker_cmd_params = ["-b", "5"]

[jd]
  # change to your version
  csa_encryption_key = "d1093c0060d50a3c89c189b2e485da5a3ce57f3dcb38ab7e2c0d5f0bb2314a44" # any random 32 byte hex string
  image = "job-distributor:0.12.7"

#[s3provider]
#  # use all defaults
#  port = 9000
#  console_port = 9001

[infra]
  # either "docker" or "crib"
  type = "docker"

#[infra.crib]
#  namespace = "crib-local"
#  folder_location = "/absolute/path/to/crib/deployments/cre"
#  provider = "kind"  # or "aws"

[[nodesets]]
  nodes = 5

  capabilities = ["ocr3", "custom-compute", "web-api-target", "web-api-trigger", "vault"]
  don_types = ["workflow", "gateway"]
  bootstrap_node_index = 0 # index of node in the nodeset that will act as the bootsrap node (not required, but added for visiblity)
  gateway_node_index = 0 # added for visiblity, required always, when don_types include "gateway"

  env_vars = { CL_EVM_CMD = "" }

  override_mode = "each"
  http_port_range_start = 10100
  name = "workflow"

  # Enable capabilities per chain with optional per-chain overrides
  [nodesets.chain_capabilities]
    # Simple: enable write-evm on listed chains
    write-evm = ["1337"]
    # EVM capability with a chain-specific override example
    evm = { enabled_chains = ["1337", "2337"], chain_overrides = { "1337" = { ReceiverGasMinimum = 1000 } } }

  [nodesets.db]
    image = "postgres:12.0"
    port = 13000

  [[nodesets.node_specs]]
    [nodesets.node_specs.node]
      docker_ctx = "../../../.."
      docker_file = "core/chainlink.Dockerfile"
      # image = "chainlink-tmp:latest"
      # omitted on purpose, if not defined here it will be added by Go code if worker nodes from this DON have cron capability
      # capabilities = ['./cron']
      custom_ports = ["5002:5002"]
      user_config_overrides = """
      [Log]
      Level = 'debug'
      JSONConsole = true

      [Telemetry]
      Enabled = true
      Endpoint = 'host.docker.internal:4317'
      ChipIngressEndpoint = 'chip-ingress:50051'
      InsecureConnection = true
      TraceSampleRatio = 1
      HeartbeatInterval = '30s'

      # Remove this bit to allow downloading workflows from remote sources
      [CRE.WorkflowFetcher]
      URL = "file:///home/chainlink/workflows"
      """

  [[nodesets.node_specs]]
    [nodesets.node_specs.node]
      docker_ctx = "../../../.."
      docker_file = "core/chainlink.Dockerfile"
      # image = "chainlink-tmp:latest"
      # omitted on purpose, if not defined here it will be added by Go code if worker nodes from this DON have cron capability
      # capabilities = ['./cron']
      user_config_overrides = """
      [Log]
      Level = 'debug'
      JSONConsole = true

      [Telemetry]
      Enabled = true
      Endpoint = 'host.docker.internal:4317'
      ChipIngressEndpoint = 'chip-ingress:50051'
      InsecureConnection = true
      TraceSampleRatio = 1
      HeartbeatInterval = '30s'

      # Remove this bit to allow downloading workflows from remote sources
      [CRE.WorkflowFetcher]
      URL = "file:///home/chainlink/workflows"
      """

  [[nodesets.node_specs]]
    [nodesets.node_specs.node]
      docker_ctx = "../../../.."
      docker_file = "core/chainlink.Dockerfile"
      # image = "chainlink-tmp:latest"
      # omitted on purpose, if not defined here it will be added by Go code if worker nodes from this DON have cron capability
      # capabilities = ['./cron']
      user_config_overrides = """
      [Log]
      Level = 'debug'
      JSONConsole = true

      [Telemetry]
      Enabled = true
      Endpoint = 'host.docker.internal:4317'
      ChipIngressEndpoint = 'chip-ingress:50051'
      InsecureConnection = true
      TraceSampleRatio = 1
      HeartbeatInterval = '30s'

      # Remove this bit to allow downloading workflows from remote sources
      [CRE.WorkflowFetcher]
      URL = "file:///home/chainlink/workflows"
      """

  [[nodesets.node_specs]]
    [nodesets.node_specs.node]
      docker_ctx = "../../../.."
      docker_file = "core/chainlink.Dockerfile"
      # image = "chainlink-tmp:latest"
      # omitted on purpose, if not defined here it will be added by Go code if worker nodes from this DON have cron capability
      # capabilities = ['./cron']
      user_config_overrides = """
      [Log]
      Level = 'debug'
      JSONConsole = true

      [Telemetry]
      Enabled = true
      Endpoint = 'host.docker.internal:4317'
      ChipIngressEndpoint = 'chip-ingress:50051'
      InsecureConnection = true
      TraceSampleRatio = 1
      HeartbeatInterval = '30s'

      # Remove this bit to allow downloading workflows from remote sources
      [CRE.WorkflowFetcher]
      URL = "file:///home/chainlink/workflows"
      """

  [[nodesets.node_specs]]
    [nodesets.node_specs.node]
      docker_ctx = "../../../.."
      docker_file = "core/chainlink.Dockerfile"
      # image = "chainlink-tmp:latest"
      # omitted on purpose, if not defined here it will be added by Go code if worker nodes from this DON have cron capability
      # capabilities = ['./cron']
      user_config_overrides = """
      [Log]
      Level = 'debug'
      JSONConsole = true

      [Telemetry]
      Enabled = true
      Endpoint = 'host.docker.internal:4317'
      ChipIngressEndpoint = 'chip-ingress:50051'
      InsecureConnection = true
      TraceSampleRatio = 1
      HeartbeatInterval = '30s'

      # Remove this bit to allow downloading workflows from remote sources
      [CRE.WorkflowFetcher]
      URL = "file:///home/chainlink/workflows"
      """