name: Run E2E tests (CTFv2)

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      CTF_CONFIGS: smoke.toml
      CTF_LOG_LEVEL: info
      CTF_LOKI_STREAM: "false"
      PRIVATE_KEY: ${{ secrets.CTF_SIMULATED_KEY_1 }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        with:
          role-to-assume: ${{ secrets.PUBLIC_AWS_ECR_ROLE }}
          aws-region: us-east-1
      - name: Authenticate to ECR Public
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          registry-type: public
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.22.8
      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: go-modules-${{ hashFiles('**/go.sum') }}-${{ runner.os }}
          restore-keys: |
            go-modules-${{ hashFiles('**/go.sum') }}-${{ runner.os }}
      - name: Install dependencies
        run: go mod download
      - name: Run tests
        working-directory: e2e/capabilities
        run: go test -v -run TestDON
