name: On Demand OCR Soak Test
on:
  workflow_dispatch:
    inputs:
      testToRun:
        description: Test to run (from .github/e2e-tests.yml)
        required: true
        default: soak/ocr_test.go:TestOCRv2Soak
        type: choice
        options:
          - soak/ocr_test.go:TestOCRv1Soak
          - soak/ocr_test.go:TestOCRv2Soak
          - soak/ocr_test.go:TestForwarderOCRv1Soak
          - soak/ocr_test.go:TestForwarderOCRv2Soak
          - soak/ocr_test.go:TestOCRSoak_GethReorgBelowFinality_FinalityTagDisabled
          - soak/ocr_test.go:TestOCRSoak_GethReorgBelowFinality_FinalityTagEnabled
          - soak/ocr_test.go:TestOCRSoak_GasSpike
          - soak/ocr_test.go:TestOCRSoak_ChangeBlockGasLimit
          - soak/ocr_test.go:TestOCRSoak_RPCDownForAllCLNodes
          - soak/ocr_test.go:TestOCRSoak_RPCDownForHalfCLNodes
      chainlink_version:
        description: Chainlink image version (e.g. "v2.25.0-beta.0" or "develop")
        required: true
        default: develop
        type: string
      test_config_override_path:
        description: Path to the override test config TOML (defaults to OCR2 on Eth Sepolia, 12h soak)
        required: false
        default: 'integration-tests/testconfig/ocr2/overrides/ethereum_sepolia_12h.toml'
        type: string
      test_secrets_override_key:
        description: Test secrets (default EOA - 0x663d14907663dC0D2bC3A3b9Ad61c10fa9B0fc08 on Eth Sepolia)
        required: false
        default: 'aws:testsecrets/DEFAULT_TEST_SECRETS'
        type: string
      team:
        description: Team (e.g. BIX, CCIP, CRE, etc.)
        required: true
        type: string
      slackMemberID:
        description: Slack Member ID (to tag when results published in \#test-run-notifications Slack channel).
        required: true
        default: U01A2B2C3D4

jobs:
  # Check if ECR registry is public or private
  # Skip building image if public registry is used
  check-registry-type:
    name: Check used ECR registry type
    runs-on: ubuntu-latest
    environment: integration
    permissions:
      id-token: write
    outputs:
      skip-image-build: ${{ steps.skip-image-build.outputs.skip-image-build}}
    steps:
      - name: Validate if AWS Secrets
        id: validate-secrets-type
        run: |
          if [[ "${{ inputs.test_secrets_override_key }}" =~ ^aws:* ]]; then
            echo "Detected AWS secret"
            echo "is-aws-secret=true" >> "$GITHUB_OUTPUT"
          else
            echo "Detected non-AWS secret"
            echo "is-aws-secret=false" >> "$GITHUB_OUTPUT"
            echo "skip-image-build=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Get AWS test secret ID (strip 'aws:' prefix)
        if: ${{ steps.validate-secrets-type.outputs.is-aws-secret == 'true' }}
        id: get-secret-id
        run: echo "secret_id=${{ inputs.test_secrets_override_key }}" | sed 's/aws://' >> $GITHUB_OUTPUT

      - name: Get test secrets from AWS Secret Manager
        if: ${{ steps.validate-secrets-type.outputs.is-aws-secret == 'true' }}
        id: aws-test-secrets
        uses: smartcontractkit/.github/actions/ctf-fetch-aws-secret@921f4b0ca850dd473dcef9082e3169ccbb83cc52 # ctf-fetch-aws-secret@0.0.0
        with:
          secret_id: ${{ steps.get-secret-id.outputs.secret_id }}
          aws_region: ${{ secrets.QA_AWS_REGION }}
          aws_role_to_assume: ${{ secrets.QA_AWS_ROLE_TO_ASSUME }}

      - name: Parse and mask test secrets
        if: ${{ steps.validate-secrets-type.outputs.is-aws-secret == 'true' }}
        id: parsed-aws-test-secrets
        uses: smartcontractkit/.github/actions/parse-and-mask-test-secrets@parse-and-mask-test-secrets/0.1.0 # parse-and-mask-test-secrets@0.1.0
        with:
          encoded_test_secrets: ${{ steps.aws-test-secrets.outputs.secret_value }}

      - name: Check registry type
        if: ${{ steps.validate-secrets-type.outputs.is-aws-secret == 'true' }}
        id: skip-image-build
        shell: bash
        run: |
          if [[ "$E2E_TEST_CHAINLINK_IMAGE" =~ ^public\.ecr ]]; then
            echo "Using public registry. No image will be built."
            echo "skip-image-build=true" >> "$GITHUB_OUTPUT"
          else
            echo "Using private registry for Chainlink image."
            echo "skip-image-build=false" >> "$GITHUB_OUTPUT"
          fi

  run-e2e-tests-workflow:
    name: Run E2E Tests
    needs: check-registry-type
    uses: smartcontractkit/.github/.github/workflows/run-e2e-tests.yml@9271f82b74a6dcc92bb66e1363460146897c8637
    with:
      chainlink_version: ${{ inputs.chainlink_version }}
      test_path: .github/e2e-tests.yml
      test_ids: ${{ inputs.testToRun}}
      test_secrets_override_key: ${{ inputs.test_secrets_override_key }}
      test_config_override_path: ${{ inputs.test_config_override_path }}
      # Fallback is used to properly convert a string to boolean 
      skip_image_build: ${{ needs.check-registry-type.outputs.skip-image-build == 'true' && true || false }}
      SLACK_USER: ${{ inputs.slackMemberID }}
      team: ${{ inputs.team }}
    secrets:
      QA_AWS_REGION: ${{ secrets.QA_AWS_REGION }}
      QA_AWS_ROLE_TO_ASSUME: ${{ secrets.QA_AWS_ROLE_TO_ASSUME }}
      QA_AWS_ACCOUNT_NUMBER: ${{ secrets.QA_AWS_ACCOUNT_NUMBER }}
      PROD_AWS_ACCOUNT_NUMBER: ${{ secrets.AWS_ACCOUNT_ID_PROD }}
      QA_PYROSCOPE_INSTANCE: ${{ secrets.QA_PYROSCOPE_INSTANCE }}
      QA_PYROSCOPE_KEY: ${{ secrets.QA_PYROSCOPE_KEY }}
      GRAFANA_INTERNAL_TENANT_ID: ${{ secrets.GRAFANA_INTERNAL_TENANT_ID }}
      GRAFANA_INTERNAL_BASIC_AUTH: ${{ secrets.GRAFANA_INTERNAL_BASIC_AUTH }}
      GRAFANA_INTERNAL_HOST: ${{ secrets.GRAFANA_INTERNAL_HOST }}
      GRAFANA_INTERNAL_URL_SHORTENER_TOKEN: ${{ secrets.GRAFANA_INTERNAL_URL_SHORTENER_TOKEN }}
      LOKI_TENANT_ID: ${{ secrets.LOKI_TENANT_ID }}
      LOKI_URL: ${{ secrets.LOKI_URL }}
      LOKI_BASIC_AUTH: ${{ secrets.LOKI_BASIC_AUTH }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      AWS_REGION: ${{ secrets.QA_AWS_REGION }}
      AWS_OIDC_IAM_ROLE_VALIDATION_PROD_ARN: ${{ secrets.AWS_OIDC_IAM_ROLE_VALIDATION_PROD_ARN }}
      AWS_API_GW_HOST_GRAFANA: ${{ secrets.AWS_API_GW_HOST_GRAFANA }}
      TEST_SECRETS_OVERRIDE_BASE64: ${{ secrets[inputs.test_secrets_override_key] }}
      SLACK_API_KEY: ${{ secrets.QA_SLACK_API_KEY }}
      SLACK_CHANNEL: ${{ secrets.QA_SLACK_CHANNEL }}
      MAIN_DNS_ZONE_PUBLIC_SDLC: ${{ secrets.MAIN_DNS_ZONE_PUBLIC_SDLC }}
      AWS_K8S_CLUSTER_NAME_SDLC: ${{ secrets.AWS_K8S_CLUSTER_NAME_SDLC }}
