name: Solidity Foundry
on:
  pull_request:
  merge_group:

env:
  FOUNDRY_PROFILE: ci

# Making changes:
# * use the top-level matrix to decide, which checks should run for each product.
# * when enabling code coverage, remember to adjust the minimum code coverage as it's set to 98.5% by default.

# This pipeline will run product tests only if product-specific contracts were modified or if broad-impact changes were made (e.g. changes to this pipeline, Foundry configuration, etc.)
# For modified contracts we use a LLM to extract new issues introduced by the changes. For new contracts full report is delivered.
# Slither has a default configuration, but also supports per-product configuration. If a product-specific configuration is not found, the default one is used.
# Changes to test files do not trigger static analysis or formatting checks.

jobs:
  define-matrix:
    name: Define test matrix
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: echo "Success!"

  changes:
    name: Detect changes
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: echo "Success!"

  check-tests-results:
    name: Check Foundry Tests Results
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: echo "Success!"

  check-fmt-results:
    name: Check Foundry Format Results
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: echo "Success!"