name: Solidity-Hardhat

on:
  merge_group:
  push:

env:
  NODE_OPTIONS: --max_old_space_size=8192

defaults:
  run:
    shell: bash

jobs:
  changes:
    name: Detect changes
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: echo "Success!"

  solidity:
    name: Solidity
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: echo "Success!"