name: Solidity

on:
  merge_group:
  push:

defaults:
  run:
    shell: bash

jobs:
  changes:
    name: Detect changes
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: echo "Success!"

  lint:
    name: Solidity Lint
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: echo "Success!"

  prettier:
    name: Prettier Formatting
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: echo "Success!"